# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# prisma
apps/api/prisma/migrations/dev.db*

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# docker volumes (if bind-mounted locally)
.docker-data/

# terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# test / coverage
coverage/
.jest-cache/
playwright-report/
test-results/

# tooling
.eslintcache
